<h1> Add New Channel </h1>
<%= debug current_user %>
<%= form_for @channel do |f| %>
	<% if @channel.errors.any? %>
		<h2>Errors:</h2>
		<ul>
			<% @channel.errors.full_messages.each do |message| %>	
				<li> <%= message %></li>
			<% end %>	
		</ul>
	<% end %>
	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</p>
	<p><%= f.label :image %><br />
  <%= f.file_field :image %></p>
	
	
	<p>
		<%= f.submit "Save Channel" %>
	</p>

<% end %>